body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
}

/* canvas { 
    width: 100%; height: 100%;
} */

.next-button-wrapper {
	text-align: center;
	position: absolute; 
	bottom: 100px; 
	left: 0;
	width: 100%;
}

.next-btn {
	color: #E8AE5F;
	border-radius: 2px;
}

.next-btn:hover {
	color: #000;
}

.fa-angle-right {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }
  @-webkit-keyframes bounce {
    0%, 100% {
      -webkit-transform: translateX(0px);
      color: #E8AE5F;
    }
    50% {
      -webkit-transform: translateX(-5px);
      color: #000;
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateX(0px);
      color: #E8AE5F;
    }
    50% {
      transform: translateX(-5px);
      color: #000;
    }
  }

.fa-angle-left {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounceLeft;
    animation-name: bounceLeft;
  }
  @-webkit-keyframes bounceLeft {
    0%, 100% {
      -webkit-transform: translateX(0px);
      color: #E8AE5F;
    }
    50% {
      -webkit-transform: translateX(5px);
      color: #000;
    }
  }
  @keyframes bounceLeft {
    0%, 100% {
      transform: translateX(0px);
      color: #E8AE5F;
    }
    50% {
      transform: translateX(5px);
      color: #000;
    }
  }